<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Digimon</servlet-name>
        <servlet-class>DigimonPkg.Digimon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyDigimonCard</servlet-name>
        <servlet-class>DigimonPkg.ModifyDigimonCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDigimonCard</servlet-name>
        <servlet-class>DigimonPkg.ShowDigimonCard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Digimon</servlet-name>
        <url-pattern>/Digimon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyDigimonCard</servlet-name>
        <url-pattern>/ModifyDigimonCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDigimonCard</servlet-name>
        <url-pattern>/ShowDigimonCard</url-pattern>
    </servlet-mapping>
    
     <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
           6000
        </session-timeout>
    </session-config>
    
</web-app>
